body {
    font-size: 1rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: #f8f8f8;
}

a,a:visited {
    background: lightgoldenrodyellow;
    color: black;
    
    &:hover {
        color: #cc0000;
    }
}

a.active {
    background: black;
    padding: 0.5rem;
    color: white;
    font-weight: bold;

    &:hover {
        background: #cc0000;
        color: white;
    }
}

header p strong {
    text-transform: uppercase;
}

header h1 {
    text-transform: uppercase;
}

header a {
    background: transparent;
    font-weight: bold;
}

blockquote {
    border-left: 5px solid black;
    font-size: 120%;
    margin: 2rem 0;
    padding: 1rem;
    
    p {
        margin: 0;
    }
    
    footer {
        font-size: 90%;
        margin: 1rem 0 0 0;
    }
}

dl {
    dt {
        margin-bottom: 0.5rem;
    }
    dd {
        font-style: italic;
        margin-bottom: 2rem;
    }
}

code, pre {
    font-family: San Francisco Mono,Monaco,"Consolas","Lucida Console","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    font-size: 92%;
}

pre {
    background: black;
    color: white;
    overflow: auto;
    padding: 1em;
    width: 100%;
}

.date {
    opacity: 0.6;
}

.footnote {
    margin-top: 2rem;
    font-size: 0.8rem;
    color: #333333;
}